td{
	text-align: center;
}

body{
	margin:0 auto; 
	text-align:center;
}

table{
	margin:0 auto;
	text-align: center;
}

table{
	width:90%; 
	margin:0 auto; 
	text-align:center;
}

.Categorías{
	text-decoration: none;
}

img{
	margin: 0 auto;
	text-align: center;
}

